.home-wrap{
  .home-main{
    overflow: hidden;
    width: 1170px;
    margin:0 auto;
    background: #fff;
    height: 600px;
    text-align: center;
    font-size: 26px;
    h4{
      color: aqua;
      line-height: 500px;
    }
  }
}